<div class="container">
  <h1>Welcome to Music App</h1>

  <p-table
    #table
    [value]="data"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [globalFilterFields]="['title', 'artist', 'year']"
  >
    >
    <ng-template pTemplate="caption">
      <div class="search-container">
        <span class="p-input-icon-left ml-auto">
          <input
            pInputText
            type="text"
            (input)="table.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </span>
        <button
          pButton
          label="Clear"
          class="p-button-outlined button-clear"
          (click)="clear(table)"
        ></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title">
          Title <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="year">
          Release Year <p-sortIcon field="year"></p-sortIcon>
        </th>
        <th pSortableColumn="artist">
          Artist <p-sortIcon field="artist"></p-sortIcon>
        </th>
        <th>Tracks</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cd>
      <tr>
        <td>{{ cd.title }}</td>
        <td>{{ cd.year }}</td>
        <td>{{ cd.artist }}</td>
        <td>
          <ng-container *ngIf="cd.tracks.length > 0">
            <p-overlayPanel #op>
              <h2>
                Track List for <strong> {{ cd.title }}</strong>
              </h2>
              <ul>
                <li *ngFor="let track of cd.tracks">
                  <i class="pi pi-chevron-right"></i> {{ track.title }}
                </li>
              </ul>
            </p-overlayPanel>
            <p-button
              (click)="op.toggle($event)"
              label="Show Tracks"
              [rounded]="true"
            ></p-button>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="page"
    [rows]="size"
    [totalRecords]="totalCount"
    [rowsPerPageOptions]="[10, 20, 30]"
  ></p-paginator>
</div>
